
#NewPasswordtable{
    background-color: aqua;
    margin: auto;
    margin-top: 200px;
    margin-left: 200px;
}
table,td,th{
    
    padding: 10px;
}
#buttonsubmit{
    background-color: red;
    margin-top: 40px;
    margin-left: 700px;
}
